# Numpy - Part 2.

In [1]:
import numpy as np

### 4. Operation

In [3]:
a = np.arange(1, 13).reshape(3,4)
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

    - sum 및 axis

In [4]:
a.sum()

78

In [7]:
a.sum(axis=0)       # 각 세로 합 (열합)

array([15, 18, 21, 24])

In [8]:
a.sum(axis=1)       # 각 가로 합 (행합)

array([10, 26, 42])

In [10]:
np.sum(a[0])

10

    -sorting

In [13]:
b = np.array([[4,3,5,7],[1,12,11,9],[2,5,1,14]])
b

array([[ 4,  3,  5,  7],
       [ 1, 12, 11,  9],
       [ 2,  5,  1, 14]])

In [15]:
np.sort(b)      # axis=1, ascending order

array([[ 3,  4,  5,  7],
       [ 1,  9, 11, 12],
       [ 1,  2,  5, 14]])

In [17]:
b.sort()
b

array([[ 3,  4,  5,  7],
       [ 1,  9, 11, 12],
       [ 1,  2,  5, 14]])

In [18]:
np.sort(b, axis =0)

array([[ 1,  2,  5,  7],
       [ 1,  4,  5, 12],
       [ 3,  9, 11, 14]])

In [20]:
# 내림차순일 경우에는 아래와 같은 방법으로
c = np.array([42,38,12,25])
np.sort(c)[::-1]

array([42, 38, 25, 12])

In [22]:
np.argsort(c)       #indexing값을 출력( 순서 출력 )

array([2, 3, 1, 0], dtype=int64)

In [23]:
indices = np.argsort(c)
c[indices]

array([12, 25, 38, 42])

In [24]:
c[[2,3,1,0]]

array([12, 25, 38, 42])

    -mathematical functions
    # 지수 함수: exp, expml, exp2, log, log10, loglp, log2, power, sqrt
    # 삼각 함수: sin, cos, tan, arcsin, arccos, arctan 
    # Hyperbolic: sinh, cosh, tanh, arcsinh, arccosh, arctanh

In [26]:
def sigmoid(x):
    return 1. / (1 + np.exp(-x))

In [32]:
xs = np.array([-10,0,10])
sigmoid(xs)

array([4.53978687e-05, 5.00000000e-01, 9.99954602e-01])

    -Transpose

In [33]:
b

array([[ 3,  4,  5,  7],
       [ 1,  9, 11, 12],
       [ 1,  2,  5, 14]])

In [35]:
b.T     #행과 열을 바꿈

array([[ 3,  1,  1],
       [ 4,  9,  2],
       [ 5, 11,  5],
       [ 7, 12, 14]])

    -Concatenate, vstack, hstack

In [36]:
a = np.array([[1, 2], [3, 4]]) 
a

array([[1, 2],
       [3, 4]])

In [38]:
b = np.array([[5, 6]])
b

array([[5, 6]])

In [39]:
np.vstack((a,b))

array([[1, 2],
       [3, 4],
       [5, 6]])

In [41]:
np.hstack((a,b.T))

array([[1, 2, 5],
       [3, 4, 6]])

    -array operation

In [42]:
a + a

array([[2, 4],
       [6, 8]])

In [43]:
a - a

array([[0, 0],
       [0, 0]])

In [44]:
a * a

array([[ 1,  4],
       [ 9, 16]])

In [45]:
a / a

array([[1., 1.],
       [1., 1.]])

    -broadcasting

In [46]:
a + 3

array([[4, 5],
       [6, 7]])