# Numpy - Part 2.

In [1]:
import numpy as np

### 4. Operation

In [3]:
a = np.arange(1, 13).reshape(3,4)
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

    - sum 및 axis

In [4]:
a.sum()

78

In [7]:
a.sum(axis=0)       # 각 세로 합 (열합)

array([15, 18, 21, 24])

In [8]:
a.sum(axis=1)       # 각 가로 합 (행합)

array([10, 26, 42])

In [10]:
np.sum(a[0])

10

    -sorting

In [13]:
b = np.array([[4,3,5,7],[1,12,11,9],[2,5,1,14]])
b

array([[ 4,  3,  5,  7],
       [ 1, 12, 11,  9],
       [ 2,  5,  1, 14]])

In [15]:
np.sort(b)      # axis=1, ascending order

array([[ 3,  4,  5,  7],
       [ 1,  9, 11, 12],
       [ 1,  2,  5, 14]])

In [17]:
b.sort()
b

array([[ 3,  4,  5,  7],
       [ 1,  9, 11, 12],
       [ 1,  2,  5, 14]])

In [18]:
np.sort(b, axis =0)

array([[ 1,  2,  5,  7],
       [ 1,  4,  5, 12],
       [ 3,  9, 11, 14]])

In [20]:
# 내림차순일 경우에는 아래와 같은 방법으로
c = np.array([42,38,12,25])
np.sort(c)[::-1]

array([42, 38, 25, 12])

In [22]:
np.argsort(c)       #indexing값을 출력( 순서 출력 )

array([2, 3, 1, 0], dtype=int64)

In [23]:
indices = np.argsort(c)
c[indices]

array([12, 25, 38, 42])

In [24]:
c[[2,3,1,0]]

array([12, 25, 38, 42])

    -mathematical functions
    # 지수 함수: exp, expml, exp2, log, log10, loglp, log2, power, sqrt
    # 삼각 함수: sin, cos, tan, arcsin, arccos, arctan 
    # Hyperbolic: sinh, cosh, tanh, arcsinh, arccosh, arctanh

In [26]:
def sigmoid(x):
    return 1. / (1 + np.exp(-x))

In [32]:
xs = np.array([-10,0,10])
sigmoid(xs)

array([4.53978687e-05, 5.00000000e-01, 9.99954602e-01])

    -Transpose

In [33]:
b

array([[ 3,  4,  5,  7],
       [ 1,  9, 11, 12],
       [ 1,  2,  5, 14]])

In [35]:
b.T     #행과 열을 바꿈

array([[ 3,  1,  1],
       [ 4,  9,  2],
       [ 5, 11,  5],
       [ 7, 12, 14]])

    -Concatenate, vstack, hstack

In [36]:
a = np.array([[1, 2], [3, 4]]) 
a

array([[1, 2],
       [3, 4]])

In [38]:
b = np.array([[5, 6]])
b

array([[5, 6]])

In [39]:
np.vstack((a,b))

array([[1, 2],
       [3, 4],
       [5, 6]])

In [41]:
np.hstack((a,b.T))

array([[1, 2, 5],
       [3, 4, 6]])

    -array operation

In [42]:
a + a

array([[2, 4],
       [6, 8]])

In [43]:
a - a

array([[0, 0],
       [0, 0]])

In [44]:
a * a

array([[ 1,  4],
       [ 9, 16]])

In [45]:
a / a

array([[1., 1.],
       [1., 1.]])

    -broadcasting

In [46]:
a + 3

array([[4, 5],
       [6, 7]])

    -dot product

In [49]:
a = np.arange(1,7).reshape(2,3)
b = np.arange(1,13).reshape(3,4)

# a(2x3) . b(3x4)는 겹치는 가운데 숫자가 같아 성립(3),b(3x4). a(2x3)는 겹치는 숫자가 달라 성립 x(4,2)

In [50]:
a.dot(b)

array([[ 38,  44,  50,  56],
       [ 83,  98, 113, 128]])

In [53]:
np.dot(a,b)

# 왼쪽 가로(행) x 오른쪽 세로(열)
# ex) 38= 1*1 + 2*5 +3*9

array([[ 38,  44,  50,  56],
       [ 83,  98, 113, 128]])

### 5. comparison

    -all& any

In [57]:
# any =or , all =and
a = np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [55]:
np.any(a>5), np.all(a>5)

(True, False)

In [56]:
a>5

array([False, False, False, False, False, False,  True,  True,  True,
        True])

    -Logical operation

In [59]:
b = np.logical_and(a>3, a<7)
b

array([False, False, False, False,  True,  True,  True, False, False,
       False])

In [60]:
np.logical_or(a < 3, a > 7)

array([ True,  True,  True, False, False, False, False, False,  True,
        True])

    -argmax, argmin

In [61]:
np.argmax(a), np.argmin(a)

(9, 0)

### 6. Boolean & Fancy index

In [66]:
a[a > 5]

array([6, 7, 8, 9])

In [63]:
b

array([False, False, False, False,  True,  True,  True, False, False,
       False])

In [64]:
a[b]    #true값만 표출

array([4, 5, 6])

In [65]:
a[np.logical_or(a < 3, a > 7)]

array([0, 1, 2, 8, 9])

In [67]:
a[[3,5,7]]

array([3, 5, 7])

### 7. 기술 통계

In [68]:
a = np.random.randn(10)
a

array([ 0.68082786, -1.63988999, -0.35859769, -0.38406566, -0.74792637,
       -0.77570052, -0.83326555, -1.97478552, -0.09434457,  1.0047463 ])

In [69]:
# 평균(Mean)
a.mean(), np.mean(a)

(-0.5123001710307526, -0.5123001710307526)

In [71]:
# 표준편차(standard deviation)
a.std(), np.std(a)

(0.8705159576620249, 0.8705159576620249)

In [72]:
# 최댓값 최솟값
a.max(), a.min()

(1.0047462991273448, -1.974785516004037)

In [75]:
# 4분위수, IQR
np.percentile(a,0) #가상의 지점

-1.974785516004037

In [76]:
np.percentile(a, 25), np.percentile(a, 75)

(-0.8188742911670488, -0.16040784628003849)

In [77]:
np.percentile(a, 50), np.median(a)

(-0.5659960171096776, -0.5659960171096776)

# numpy cheat sheet