# YouTube Ranking

In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import time
import pandas as pd

In [107]:
url = 'https://youtube-rank.com/board/bbs/board.php?bo_table=youtube'
driver = webdriver.Chrome('chromedriver.exe')
driver.get(url)
time.sleep(2)

In [3]:
soup = BeautifulSoup(driver.page_source, 'html.parser')

In [5]:
channel_list = soup.select('.aos-init')
len(channel_list)

100

In [7]:
channel = channel_list[0]
rank = channel.select_one(".rank").get_text().strip()
rank = int(rank)
rank

1

In [15]:
category = channel.select_one('p.category').get_text().strip()[1:-1]
category

'음악/댄스/가수'

In [12]:
name = channel.select_one('.subject a').get_text().strip()
name

'BLACKPINK'

In [51]:
subscriber = channel.select_one('.subscriber_cnt').get_text().strip()
view = channel.select_one('.view_cnt').get_text().strip()
video = channel.select_one('.video_cnt').get_text().strip()
subscriber, view, video

('384만', '32억6002만', '1,900개')

- 반복문으로 해서 페이지 내에 있는 데이터 수집하기

In [17]:
lines = []
for channel in channel_list:
    rank = int(channel.select_one(".rank").get_text().strip())
    category = channel.select_one('p.category').get_text().strip()[1:-1]
    name = channel.select_one('.subject a').get_text().strip()
    subscriber = channel.select_one('.subscriber_cnt').get_text().strip()
    view = channel.select_one('.view_cnt').get_text().strip()
    video = channel.select_one('.video_cnt').get_text().strip()
    lines.append([rank,category,name,subscriber,view,video])

In [20]:
df = pd.DataFrame(lines, columns=['순위','카테고리','채널명','구독자수','조회수','비디오수'])
df.head()

   순위      카테고리                          채널명   구독자수        조회수    비디오수
0   1  음악/댄스/가수                    BLACKPINK  7020만  214억5709만    395개
1   2  음악/댄스/가수                  HYBE LABELS  6300만  204억9684만    725개
2   3  음악/댄스/가수                    BANGTANTV  6150만  140억7794만  1,646개
3   4  음악/댄스/가수                       SMTOWN  2930만  230억1641만  3,779개
4   5    키즈/어린이  Boram Tube Vlog [보람튜브 브이로그]  2650만  110억5288만    223개

In [21]:
df.tail()

     순위       카테고리                    채널명  구독자수       조회수    비디오수
95   96     키즈/어린이  로미유 스토리[Romiyu Story]  417만  10억9524만    434개
96   97  음식/요리/레시피           [Dorothy]도로시  416만   9억9800만    905개
97   98     취미/라이프        JaeYeol ASMR 재열  398만  10억9606만  1,018개
98   99     키즈/어린이         CoCosToy 꼬꼬스토이  388만  21억8778만    652개
99  100  BJ/인물/연예인               허팝Heopop  384만  32억6002만  1,900개

- 숫자로 바꿔주는 함수

In [97]:
def convert_units(s):
    return int(s.replace('만', '0000').replace('억','').replace('개','').replace(',',''))

In [101]:
def convert_units2(s):
    s = s.replace('만', '0000').replace('억','').replace('개','').replace(',','')
    return f'{int(s):,d}'

In [96]:
view = channel.select_one('.view_cnt').get_text().strip()

In [94]:
lines = []
for channel in channel_list:
    rank = int(channel.select_one(".rank").get_text().strip())
    category = channel.select_one('p.category').get_text().strip()[1:-1]
    name = channel.select_one('.subject a').get_text().strip()
    subscriber = channel.select_one('.subscriber_cnt').get_text().strip()
    subscriber = convert_units(subscriber)
    view = channel.select_one('.view_cnt').get_text().strip()
    view = convert_units(view)
    video = channel.select_one('.video_cnt').get_text().strip()
    video = convert_units(video)
    lines.append([rank,category,name,subscriber,view,video])

df2 = pd.DataFrame(lines, columns=['순위','카테고리','채널명','구독자수','조회수','비디오수'])
df2.head()

   순위      카테고리                          채널명      구독자수          조회수  비디오수
0   1  음악/댄스/가수                    BLACKPINK  70200000  21457090000   395
1   2  음악/댄스/가수                  HYBE LABELS  63000000  20496840000   725
2   3  음악/댄스/가수                    BANGTANTV  61500000  14077940000  1646
3   4  음악/댄스/가수                       SMTOWN  29300000  23016410000  3779
4   5    키즈/어린이  Boram Tube Vlog [보람튜브 브이로그]  26500000  11052880000   223

- 두번째 페이지

In [111]:
# Xpath로 찾아가기 = //*[@id="list-skin"]/nav/span/a[1]
driver.find_element_by_xpath('//*[@id="list-skin"]/nav/span/a[1]').click()
time.sleep(2)

In [112]:
soup = BeautifulSoup(driver.page_source, 'html.parser')
channel_list = soup.select('.aos-init')
len(channel_list)

100

In [114]:
lines = []
for channel in channel_list:
    rank = int(channel.select_one(".rank").get_text().strip())
    category = channel.select_one('p.category').get_text().strip()[1:-1]
    name = channel.select_one('.subject a').get_text().strip()
    subscriber = channel.select_one('.subscriber_cnt').get_text().strip()
    view = channel.select_one('.view_cnt').get_text().strip()
    video = channel.select_one('.video_cnt').get_text().strip()
    lines.append([rank,category,name,convert_units2(subscriber),convert_units2(view),convert_units2(video)])

df2 = pd.DataFrame(lines, columns=['순위','카테고리','채널명','구독자수','조회수','비디오수'])
df2.head()

    순위       카테고리              채널명       구독자수            조회수   비디오수
0  101      TV/방송      워크맨-Workman  3,790,000    743,430,000    154
1  103    애완/반려동물           크림히어로즈  3,780,000  1,415,780,000  1,011
2  102   음악/댄스/가수           WINNER  3,780,000  1,204,270,000    446
3  104     키즈/어린이  Lime Tube[라임튜브]  3,740,000  2,646,690,000  1,808
4  105  BJ/인물/연예인      waveya 2011  3,730,000  1,356,390,000    710

- page 1에서 10까지 크롤링 하기

In [118]:
lines = []
for page in range(1,11):
    url = 'https://youtube-rank.com/board/bbs/board.php?bo_table=youtube&page='+str(page)
    driver.get(url)
    time.sleep(3)
    soup = BeautifulSoup(driver.page_source, 'html.parser')
    channel_list = soup.select('.aos-init')

    for channel in channel_list:
        rank = int(channel.select_one(".rank").get_text().strip())
        category = channel.select_one('p.category').get_text().strip()[1:-1]
        name = channel.select_one('.subject a').get_text().strip()
        subscriber = channel.select_one('.subscriber_cnt').get_text().strip()
        view = channel.select_one('.view_cnt').get_text().strip()
        video = channel.select_one('.video_cnt').get_text().strip()
        lines.append([rank,category,name,convert_units2(subscriber),convert_units2(view),convert_units2(video)])

df2 = pd.DataFrame(lines, columns=['순위','카테고리','채널명','구독자수','조회수','비디오수'])
df2.head()

,순위,카테고리,채널명,구독자수,조회수,비디오수
0,1,음악/댄스/가수,BLACKPINK,"70,200,000","21,457,090,000",395
1,2,음악/댄스/가수,HYBE LABELS,"63,000,000","20,496,840,000",725
2,3,음악/댄스/가수,BANGTANTV,"61,500,000","14,077,940,000","1,646"
3,4,음악/댄스/가수,SMTOWN,"29,300,000","23,016,410,000","3,779"
4,5,키즈/어린이,Boram Tube Vlog [보람튜브 브이로그],"26,500,000","11,052,880,000",223

In [117]:
df2.tail()

       순위      카테고리             채널명     구독자수          조회수   비디오수
995   996  음악/댄스/가수          Reynah  550,000  148,880,000    246
996   997     TV/방송       J.Y. Park  550,000   93,730,000     90
997   998        게임  [ALTUBE] 김성현TV  550,000  422,100,000  2,121
998  1000        게임         방앗간 비둘기  550,000  356,900,000  4,381
999   999        게임             빅헤드  550,000  326,600,000  3,540

In [122]:
df2.to_csv('유튜브랭킹.csv', index=False)

In [121]:
driver.close()