In [1]:
import numpy as np

# 1. 넘파이를 사용하여 다음과 같은 행렬을 만드시오.

    10 20 30 40
    50 60 70 80

In [3]:
np.arange(10,90,10).reshape(2,4)

array([[10, 20, 30, 40],
       [50, 60, 70, 80]])

# 2. 다음 행렬과 같은 행렬이 있다.

    m = np.array([[ 0, 1, 2, 3, 4],
    [ 5, 6, 7, 8, 9],
    [10, 11, 12, 13, 14]])
    1) 이 행렬에서 값 7 을 인덱싱한다.
    2) 이 행렬에서 값 14 을 인덱싱한다.
    3) 이 행렬에서 배열 [6, 7] 을 슬라이싱한다.
    4) 이 행렬에서 배열 [7, 12] 을 슬라이싱한다.
    5) 이 행렬에서 배열 [[3, 4], [8, 9]] 을 슬라이싱한다.

In [21]:
m = np.array([[ 0, 1, 2, 3, 4],
[ 5, 6, 7, 8, 9],
[10, 11, 12, 13, 14]])
m

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [55]:
#1) 이 행렬에서 값 7 을 인덱싱한다.

m[1,2]

7

In [54]:
#2) 이 행렬에서 값 14 을 인덱싱한다.

m[-1,-1]

14

In [53]:
#3) 이 행렬에서 배열 [6, 7] 을 슬라이싱한다.

m[1,1:3]

array([6, 7])

In [52]:
#4) 이 행렬에서 배열 [7, 12] 을 슬라이싱한다.

m[1:,2]

array([ 7, 12])

In [51]:
#5) 이 행렬에서 배열 [[3, 4], [8, 9]] 을 슬라이싱한다.

m[:2,3:]

array([[3, 4],
       [8, 9]])

# 3. 2번의 행렬 m을 1차원 벡터 f 로 변환한 후 다음의 문제를 푸시오.
    1) 이 배열에서 3의 배수를 찾아라.
    2) 이 배열에서 4로 나누면 1이 남는 수를 찾아라.
    3) 이 배열에서 3으로 나누면 나누어지고 4로 나누면 1이 남는 수를 찾아라.

In [62]:
vector = m.reshape(-1)
vector

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [50]:
#1) 이 배열에서 3의 배수를 찾아라.

vector[vector % 3 == 0]

array([ 0,  3,  6,  9, 12])

In [45]:
#2) 이 배열에서 4로 나누면 1이 남는 수를 찾아라.

vector[vector % 4 == 1]

array([ 1,  5,  9, 13])

In [69]:
vector2 = (vector % 3 == 0) & (vector % 4 == 1)
vector[vector2]

array([9])

# 4. 값을 직접 입력하지 말고 우측의 행렬을 만드시오.
    2, 1, 0, 0, 0
    3, 2, 1, 0, 0
    0, 3, 2, 1, 0
    0, 0, 3, 2, 1
    0, 0, 0, 3, 2

In [174]:
table1 = np.eye(M=5,N=5,k=1)
table2 = np.eye(M=5,N=5)
table3 = np.eye(M=5,N=5,k=-1)
table1 + table2 *2 + table3*3

array([[2., 1., 0., 0., 0.],
       [3., 2., 1., 0., 0.],
       [0., 3., 2., 1., 0.],
       [0., 0., 3., 2., 1.],
       [0., 0., 0., 3., 2.]])

In [176]:
#줄이기
table = np.eye(M=5,N=5,k=1)+np.eye(M=5,N=5)*2+np.eye(M=5,N=5,k=-1)*3
table

array([[2., 1., 0., 0., 0.],
       [3., 2., 1., 0., 0.],
       [0., 3., 2., 1., 0.],
       [0., 0., 3., 2., 1.],
       [0., 0., 0., 3., 2.]])

# 5. 0에서 10까지 랜덤 실수값으로 이루어진 5 x 6 형태의 데이터 행렬을 만들고 이 데이터에 대해 다음과 같은 값을 구하시오.
    1) 전체의 최댓값
    2) 각 행의 합
    3) 각 행의 최댓값
    4) 각 열의 평균
    5) 각 열의 최솟값

In [80]:
import random

In [93]:
rand = np.random.uniform(1, 10, 30).reshape(5,6)
rand

array([[7.89465427, 6.00761577, 5.51793246, 5.18158595, 3.15020849,
        4.08105978],
       [8.51980053, 8.82422805, 9.27388834, 3.39622523, 5.7073644 ,
        4.6997667 ],
       [1.85215402, 8.20001791, 6.25267101, 9.79244374, 4.21648593,
        1.3791701 ],
       [2.95135453, 2.67879513, 7.28140621, 8.54718583, 8.84937093,
        3.04592514],
       [9.28511043, 3.05271857, 9.21421152, 2.19944974, 8.47074318,
        3.74581016]])

In [94]:
#1) 전체의 최댓값
rand.max()

9.792443743176667

In [95]:
#2) 각 행의 합
rand.sum(axis=0)

array([30.50307378, 28.76337544, 37.54010955, 29.11689049, 30.39417293,
       16.95173188])

In [96]:
#3) 각 행의 최댓값
rand.max(axis=0)

array([9.28511043, 8.82422805, 9.27388834, 9.79244374, 8.84937093,
       4.6997667 ])

In [99]:
#4) 각 열의 평균
rand.mean(axis=1)

array([5.30550945, 6.73687887, 5.28215712, 5.5590063 , 5.99467393])

In [98]:
#5) 각 열의 최솟값
rand.min(axis=1)

array([3.15020849, 3.39622523, 1.3791701 , 2.67879513, 2.19944974])

# 6. 다음 배열은 첫번째 행(row)에 학번, 두번째 행에 영어 성적, 세번째 행에 수학 성적을 적은 배열이다. 영어 성적을 기준으로 각 열(column)을 재정렬하시오.
    학번:   array([[ 1, 2, 3, 4],
    영어성적: [ 46, 99, 100, 71],
    수학성적: [ 81, 59, 90, 100]])

In [111]:
test = np.array([[ 1, 2, 3, 4],
[ 46, 99, 100, 71],
[ 81, 59, 90, 100]])

In [126]:
test1 = test[:,test[1].argsort()]
test1

array([[  1,   4,   2,   3],
       [ 46,  71,  99, 100],
       [ 81, 100,  59,  90]])

# 7. 주사위를 100번 던지는 가상 실험을 파이썬으로 작성하고, 던져서 나오는 숫자의 평균을 구하시오.

In [134]:
dice100 = np.random.randint(1,6,100)
dice100.mean()

3.0

# 8. 가격이 10,000원인 주식이 있다. 이 주식의 일간 수익률(%)은 기댓값이 0%이고 표준편차가 1%인 표준 정규 분포를 따른다고 하자. 250일 동안의 주가를 무작위로 생성하시오.

In [180]:
price = 10000
stock = price + np.random.normal(0,1,250)
stock

array([10001.84718321, 10000.71086524,  9998.98762391, 10000.12072824,
        9999.00817893,  9999.89701517, 10001.18712681, 10001.07426682,
       10001.52261217,  9999.34247532,  9999.47543152,  9999.04663967,
       10000.27306115, 10001.37487373,  9999.82483793, 10001.13986062,
       10000.27774761, 10001.38113246, 10000.88902959, 10000.48259827,
       10000.93024374,  9999.84398899, 10002.07719017,  9999.47094691,
       10000.96907006, 10000.11587058, 10000.56222628, 10000.61481484,
        9998.37294907, 10000.36907706, 10000.43843942, 10000.00304311,
        9999.01673679,  9999.01238107,  9998.83417822,  9999.40081171,
        9999.63175964,  9998.84130405,  9999.11592312,  9999.87578404,
       10000.52058035,  9999.34086505, 10000.01333008,  9999.71393967,
        9999.79827432,  9997.99072801,  9999.0679133 , 10000.07132394,
       10000.56586421, 10000.79167937,  9999.44642719,  9999.94710348,
        9999.29150654,  9999.70599209,  9999.74268099, 10000.40188502,
        9998.74989454,  9999.15641257,  9998.75694445,  9999.4051814 ,
       10000.7634656 ,  9999.8765666 ,  9997.95239312, 10001.26041054,
       10000.71663722,  9999.6431362 , 10001.03816526, 10000.45420017,
       10000.1636678 ,  9999.98610999, 10000.7974991 ,  9998.54201904,
        9999.22205695,  9999.67628084,  9999.84231732,  9998.24491963,
       10000.28820639, 10000.59649308,  9999.7597795 ,  9998.59075746,
        9997.62904051,  9999.9049911 ,  9999.15361893,  9999.45287231,
       10001.63967831, 10000.66235118, 10001.50534891, 10000.56642327,
       10001.55296912,  9999.76905283, 10001.50492836, 10001.51970386,
       10001.29138711, 10000.66534488, 10002.8422561 , 10001.093073  ,
        9999.60153439,  9999.38589816,  9998.54956108, 10000.10731599,
        9997.73848986, 10002.054176  ,  9998.57310774, 10000.1048003 ,
       10000.44874899, 10000.47377131, 10001.76731868, 10001.01773584,
       10001.98859414, 10000.72251581,  9999.30968986,  9999.13845647,
        9999.21658259, 10000.75540627,  9998.27648341, 10002.71328158,
        9998.05130775, 10001.75642904, 10000.24944229,  9999.76216714,
        9999.67646749,  9999.16292955, 10000.0767792 , 10000.63402352,
       10000.33032258, 10000.30693902, 10000.5081097 , 10000.01689906,
        9999.25549503,  9998.6339746 , 10002.21018125, 10001.01331694,
        9998.70744346,  9998.96214616, 10000.09119736, 10000.2364343 ,
       10001.2477028 , 10000.50169821,  9998.54858242,  9999.86951933,
        9999.20073519,  9999.1031298 ,  9999.9530018 ,  9999.2098633 ,
       10000.37125012,  9998.90266686, 10000.52460548,  9998.07079112,
       10000.07463593,  9999.02477066,  9999.6512657 ,  9998.93458045,
        9999.19584732, 10001.41998865,  9999.86693602,  9999.20235551,
        9999.53450025, 10000.99281233,  9998.98074879, 10000.6043288 ,
        9999.89648077, 10002.22445835,  9999.76233501, 10001.45570941,
       10001.26938283, 10001.0756663 ,  9999.56169003,  9998.39285868,
       10000.47026904, 10000.69028437,  9999.90806895, 10000.55992181,
       10000.63904538, 10000.40519143, 10000.21390309, 10000.2096685 ,
        9998.98668877, 10000.012152  , 10001.54586086, 10000.17642827,
       10000.07420981,  9999.80717241,  9999.92571533,  9999.68666146,
       10000.29600368, 10000.50606062,  9998.02599418, 10001.00789455,
        9998.5067346 , 10000.91644308, 10000.77942686, 10000.72055971,
        9999.44950397,  9999.47624456,  9999.99291638,  9999.6241599 ,
       10000.92311638, 10001.19956466, 10000.67058538, 10000.50324308,
       10001.6845329 ,  9997.94182078,  9999.96007031,  9999.18887299,
        9998.48055123,  9999.35112827, 10001.94194137, 10000.2818867 ,
       10000.39305943,  9999.12382217, 10000.31576245,  9999.67922986,
       10001.21682494, 10001.39219288,  9999.57611908, 10000.76119656,
        9998.0623729 , 10000.51901386,  9997.84916236, 10001.06503538,
        9999.72890883,  9997.44676106, 10000.10173447,  9999.55409728,
        9999.3057946 , 10000.04954122,  9999.62015415, 10001.15984906,
        9999.75333376,  9999.34648276,  9998.94360757, 10000.8131654 ,
       10001.40579694,  9999.71420442, 10000.62448336, 10000.46147023,
       10001.19070337, 10000.35393592,  9999.9786984 ,  9999.53668393,
        9999.3027653 , 10000.31085962, 10000.82089649, 10000.26886163,
        9999.34062225,  9998.9746095 ,  9999.69402153, 10001.04525595,
       10000.69229633, 10000.08408226])