# 연습 문제 4.1.1

In [2]:
import numpy as np
import pandas as pd

(1) 임의로 두 개의 시리즈 객체를 만든다. 모두 문자열 인덱스를 가져야 하며 두 시리즈에 공통적으로 포함되지 않는 라벨이 있어야 한다.

In [152]:
price1 = pd.Series({'과자1':10000, '과자2':15000, '과자3':20000, '과자4':25000 , '과자5':30000})
price2 = pd.Series({'과자1':1000, '과자2':1500, '과자3':2000, '과자4':2500 , '과자5':3000})
price1, price2

(과자1    10000
 과자2    15000
 과자3    20000
 과자4    25000
 과자5    30000
 dtype: int64,
 과자1    1000
 과자2    1500
 과자3    2000
 과자4    2500
 과자5    3000
 dtype: int64)

In [153]:
# 더하기
add_price = price1 + price2
add_price

과자1    11000
과자2    16500
과자3    22000
과자4    27500
과자5    33000
dtype: int64

In [154]:
# 빼기
sub_price = price1-price2
sub_price

과자1     9000
과자2    13500
과자3    18000
과자4    22500
과자5    27000
dtype: int64

In [155]:
# 곱하기
mul_price = price1 * price2
mul_price

과자1    10000000
과자2    22500000
과자3    40000000
과자4    62500000
과자5    90000000
dtype: int64

In [156]:
# 나누기
div_price = price1 / price2
div_price

과자1    10.0
과자2    10.0
과자3    10.0
과자4    10.0
과자5    10.0
dtype: float64

# 연습 문제 4.1.2

다음 조건을 만족하는 임의의 데이터프레임을 하나 만든다.

(1) 열의 갯수와 행의 갯수가 각각 5개 이상이어야 한다.

(2) 열에는 정수, 문자열, 실수 자료형 데이터가 각각 1개 이상씩 포함되어 있어야 한다.

In [157]:
data = {
    "국어": [92,88,86,100,76],
    "수학" : [82,73,77,92,98],
    "영어" : [90,80,70,85,95],
    "탐구" : [90,88,73,77,92],
    "평균" : [88.5,82.25,76.5,88.5,90.25]
}
index = ["춘향",'몽룡','방자','향단','변사또']
df = pd.DataFrame(data, index = index)
df

      국어  수학  영어  탐구     평균
춘향    92  82  90  90  88.50
몽룡    88  73  80  88  82.25
방자    86  77  70  73  76.50
향단   100  92  85  77  88.50
변사또   76  98  95  92  90.25

# 연습 문제 4.1.3

In [3]:
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [159]:
# (1) 모든 학생의 수학 점수를 시리즈로 나타낸다.
df['수학']

춘향    90
몽룡    60
향단    80
방자    70
Name: 수학, dtype: int64

In [160]:
# (2) 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.
df [['국어','영어']]

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  40

In [7]:
# (3) 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.
df['평균'] = df.mean(axis=1).round(2)
df

    국어  영어  수학     평균
춘향  80  90  90  86.67
몽룡  90  70  60  73.33
향단  70  60  80  70.00
방자  30  40  70  46.67

In [11]:
# (4) 방자의 영어 점수를 80점으로 수정하고 평균 점수도 다시 계산한다.
df['영어']['방자'] = 80

In [12]:
df['평균'] = df.mean(axis=1).round(2)
df

    국어  영어  수학     평균
춘향  80  90  90  86.67
몽룡  90  70  60  73.33
향단  70  60  80  70.00
방자  30  80  70  56.67

In [9]:
import warnings
warnings.filterwarnings('ignore')

In [177]:
# (5) 춘향의 점수를 데이터프레임으로 나타낸다.
df[:1]

    국어  영어  수학     평균
춘향  80  90  90  86.67

In [14]:
df.head(1)

    국어  영어  수학     평균
춘향  80  90  90  86.67

In [17]:
df.T[['춘향']]

       춘향
국어  80.00
영어  90.00
수학  90.00
평균  86.67

In [18]:
df[:'춘향']

    국어  영어  수학     평균
춘향  80  90  90  86.67

In [193]:
# (6) 향단의 점수를 시리즈로 나타낸다.
df.loc['향단', :]

국어    70.0
영어    60.0
수학    80.0
평균    70.0
Name: 향단, dtype: float64

In [21]:
df.T['향단']

국어    70.0
영어    60.0
수학    80.0
평균    70.0
Name: 향단, dtype: float64

# 연습 문제 4.3.1

모든 행과 열에 라벨을 가지는 5 x 5 이상의 크기를 가지는 데이터프레임을 만든다.

10가지 이상의 방법으로 특정한 행과 열을 선택한다.

In [23]:
df = pd.DataFrame(np.arange(25).reshape(5,5), columns=list('ABCDE'), index=list('vwxyz'))
df

    A   B   C   D   E
v   0   1   2   3   4
w   5   6   7   8   9
x  10  11  12  13  14
y  15  16  17  18  19
z  20  21  22  23  24

In [25]:
df['C']['x'], df['C'][2], df.C['x'], df.C[2], df.C.x

(12, 12, 12, 12, 12)

In [26]:
df.loc['x','C'], df.loc['x'][2], df.loc['x']['C']

(12, 12, 12)

In [27]:
df.iloc[2,2], df.iloc[2]['C'], df.iloc[2][2]

(12, 12, 12)